/* projeto-aulons\src\components\Footer\style.css */

.footer-container{
    background-color: aqua;
    color: chocolate;
    text-align: center;
    padding: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}